<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://localhost:8080/app/index_myshop.css">
</head>

<body>
<div th:replace="~{navigation :: nav}"></div>
<!--                <div class="tab-content">-->
<!--                    <div class="tab-pane fade show active" id="index">-->
<!--                        Описание товара...-->
<!--                    </div>-->
<!--                    <div class="tab-pane fade" id="catalog">-->
<!--                        Характеристики товара...-->
<!--                    </div>-->
<!--                    <div class="tab-pane fade" id="cart">-->
<!--                        Отзывы...-->
<!--                    </div>-->
<!--                </div>-->


<h1 th:text="${home}"/>
</body>
</html>
