<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://localhost:8080/app/products.css">
</head>


<body>
<div th:fragment="nav">
    <div th:class="header">
        <nav class="navbar navbar-light" style="background-color: #362c12">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="CATALOG">
                        <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                             class="d-inline-block align-text-top">
                        CoffeTime
                    </a>
                </div>
            </nav>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" th:href="@{/index}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" th:href="@{/products/all}">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"th:href="@{/cart}">Cart</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </nav>
    </div>
</div>
</body>
</html>