<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://localhost:8080/app/products.css">
</head>
<body>
<div th:replace="~{navigation :: nav}"></div>


<!--<div th:each="product : ${products}" class="product-wrap">-->
<!--    <div class="product-item">-->
<!--        <img th:src="@{'/images/coffee/kofe-s-molokom.jpg'}">-->
<!--        <div class="product-buttons">-->
<!--            <a href="" class="button">В корзину</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="product-title">-->
<!--        <a href="">Кофе с молоком</a>-->
<!--        <span class="product-price">₽ 50</span>-->
<!--    </div>-->


    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th></th>
            <th>Название</th>
            <th>Стоимость</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td>
                <img width="100" height="50" th:src="@{'/images' + ${product.productImage.path}}" alt="">
            </td>

            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/cart/add?id=' + ${product.id}}">Add to Cart</a>
            </td>
            <td>
                <a class="btn btn-warning" th:href="@{'edit?id=' + ${product.id}}">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger" th:href="@{'deleteProduct?id=' + ${product.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
        </table>
<div><a class="btn btn-success" th:href="@{'add'}">Add new product</a></div>
</body>
</html>